<div class="container-fluid">
    <div class="row">
        <div class="topnav">
          <span>All Services</span>
            <div class="search-container">
              <form action="/action_page.php">
                <input type="text" placeholder="Search.." name="search">
                <button type="submit"><i class="fa fa-search"></i></button>
              </form>
            </div>
          </div>
    </div>
    <div class="row">
        
    </div>
    <div class="row">

    </div>
</div>